<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>FoodProject</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    {% include 'navbar.html' %}

    <h1 style="text-align:center">Add a Food Item</h1>

    <form action="/add-food" method="POST">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Username</label>
            <input type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="{{globals['currentName']}}" disabled>
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Food Name</label>
            <input name="foodname" type="text" class="form-control" id="exampleFormControlInput1">
        </div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Location</label>
            <select name="locationbox" type="submit" class="form-select" aria-label="Default select example">
                <option selected></option>
                <option value="1">Amazon Fresh</option>
                <option value="2">Ralphs</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="userNotes" class="form-label">User Notes</label>
            <textarea name="user_notes" class="form-control" id="userNotes"></textarea>
        </div>

        <div class="mb-3">
            <label for="water" class="form-label">Water (per 100g)</label>
            <input name="nutrition_facts[water]" type="number" step="0.01" class="form-control" id="water">
        </div>
        <div class="mb-3">
            <label for="energy_general" class="form-label">Energy (general, per 100g)</label>
            <input name="nutrition_facts[energy_general]" type="number" step="0.01" class="form-control" id="energy_general">
        </div>
        <div class="mb-3">
            <label for="energy_specific" class="form-label">Energy (specific, per 100g)</label>
            <input name="nutrition_facts[energy_specific]" type="number" step="0.01" class="form-control" id="energy_specific">
        </div>
        <div class="mb-3">
            <label for="protein" class="form-label">Protein (per 100g)</label>
            <input name="nutrition_facts[protein]" type="number" step="0.01" class="form-control" id="protein">
        </div>
        <div class="mb-3">
            <label for="total_lipid" class="form-label">Total Lipid (Fat, per 100g)</label>
            <input name="nutrition_facts[total_lipid]" type="number" step="0.01" class="form-control" id="total_lipid">
        </div>
        <div class="mb-3">
            <label for="carbohydrate_by_difference" class="form-label">Carbohydrate (by difference, per 100g)</label>
            <input name="nutrition_facts[carbohydrate_by_difference]" type="number" step="0.01" class="form-control" id="carbohydrate_by_difference">
        </div>
        <div class="mb-3">
            <label for="fiber_total_dietary" class="form-label">Fiber (total dietary, per 100g)</label>
            <input name="nutrition_facts[fiber_total_dietary]" type="number" step="0.01" class="form-control" id="fiber_total_dietary">
        </div>
        <div class="mb-3">
            <label for="sugars_total" class="form-label">Sugars (total, per 100g)</label>
            <input name="nutrition_facts[sugars_total]" type="number" step="0.01" class="form-control" id="sugars_total">
        </div>
        <div class="mb-3">
            <label for="vitamin_c" class="form-label">Vitamin C (per 100g)</label>
            <input name="nutrition_facts[vitamin_c]" type="number" step="0.01" class="form-control" id="vitamin_c">
        </div>
        <div class="mb-3">
            <label for="protein" class="form-label">Protein (per 100g)</label>
            <input name="nutrition_facts[protein]" type="number" step="0.01" class="form-control" id="protein">
        </div>

        <br>
        <br>
        <button type="submit" class="btn btn-primary">Add Food</button>
    </form>

    {% if empty == True %}
        <br>
        <button type="button" class="btn btn-danger" disabled>Must add data to all entries.</button>
    {% endif %}
    {% if alreadyadded == True %}
        <br>
        <button type="button" class="btn btn-danger" disabled>Someone already added this item.</button>
    {% endif %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>